<table class="table table-striped">
    <th></th>
    <?php
echo "<?php\n";
?>
    foreach ( $<?php echo $className ?> as $record )
    {
    <?php
echo "?>\n";
    ?>
    <tr>
        <?php echo	$lijstRecords ?>
    </tr>
    <?php
echo "<?php\n";
?>
    }
    <?php
echo "?>\n";
    ?>
</table>
