<td>
    <a href="/<?php echo $className ?>/<?php echo $mode ?>/<?php echo "<?php echo ";?>$record->getUid()?>">
    <![CPHP[
    echo $record->get<?php echo str_replace('Id','',$funcName); ?>($record->get<?php echo $funcName?>());
    ]CPHP]>
    </a>
</td>

