<?php
if (!isset($showLabels)) {
    $showLabels = true;
}
?>
<div class="container"><?php
    if (isset($header)) {
        ?>
        <div class="row"><?php
        foreach ($header as $head) {
            ?>
            <div class="col"><?= $head ?></div><?php
        }
        ?></div><?php
    }
    foreach ($data as $row) {
        ?>
        <div class="row"><?php
        foreach ($row as $label => $value) {
            if ($showLabels) {

                ?>
                <div class="col"><?= $label ?></div><?php
            }
            ?>
            <div class="col"><?= $value ?></div><?php
        }
        ?></div><?php
    }
    ?></div>